<div class="row">
  <div class="col px-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-enigma">
      <div class="container">
        <a class="navbar-brand" href="#"><i class="fas fa-code"></i> My Page</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink=""
                >Home</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Demo
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" routerLink="/demo/shopa">Shopa</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/demo/todos">Todo</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/demo/new-todos"
                    >New Todos</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/demo/hotels"
                    >Hotel App</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/demo/lifecycle"
                    >Lifecycle</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/demo/users">Users</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
            <li class="nav-item" *ngIf="!isLoggedIn()">
              <a class="nav-link" routerLink="/auth/login">Login</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn()">
              <a class="nav-link" routerLink="/auth/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
