<h4>{{ pageTitle }}</h4>

<form action="" [formGroup]="todoForm">
  <div class="input-group mb-3">
    <div class="input-group-text">
      <!-- <input
        (click)="toggleDone($event.target)"
        class="form-check-input mt-0"
        type="checkbox"
        aria-label="Checkbox for following text input"
      /> -->
      <i class="fas fa-tasks"></i>
    </div>
    <input
      type="text"
      class="form-control"
      aria-label="Text input with checkbox"
      [placeholder]="placeHolder"
      formControlName="name"
    />
    <button class="btn btn-outline-primary" (click)="addTodo()">ADD</button>
  </div>
</form>

<h4>{{ todoChange }}</h4>
