<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Contact example</h1>
      <p class="lead text-muted">
        Something short and leading about the collection below—its contents, the
        creator, etc. Make it short and sweet, but not too short so folks don’t
        simply skip over it entirely.
      </p>

      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="assets/images/naruto.png"
              class="card-img-top"
              alt="image-naruto"
            />
            <div class="card-body">
              <p class="card-text">Suami</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="assets/images/hinata.jpeg"
              class="card-img-top"
              alt="image-hinata"
            />
            <div class="card-body">
              <p class="card-text">Istri</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
