<div class="row justify-content-center">
  <div class="col-sm-10 py-5">
    <img
      src="assets/images/profile.jpg"
      alt="My Profile"
      class="img-thumbnail rounded-circle mx-auto d-block"
    />
  </div>
  <div class="col-sm-10">
    <h1 class="text-center fs-3">
      Fahreza Muzakki<br /><span class="fs-5">Fullstack Developer</span>
    </h1>
  </div>
  <hr class="col-sm-10 mb-4" />
  <div class="col-sm-10">
    <h2 class="fs-5 mb-3">Contact</h2>
    <dl class="row">
      <dt class="col-1"><i class="fa fa-phone-alt"></i></dt>
      <dd class="col-11">
        <a href="tel:+62 8987654321" class="text-white text-decoration-none"
          >+62 8987654321</a
        >
      </dd>
      <dt class="col-1"><i class="fas fa-at"></i></dt>
      <dd class="col-11">
        <a
          href="mailto:fahreza.muzakki@gmail.com"
          class="text-white text-decoration-none"
        >
          fahreza.muzakki@gmail.com
        </a>
      </dd>
      <dt class="col-1"><i class="fas fa-map-marker-alt"></i></dt>
      <dd class="col-11">Jakarta, Indonesia</dd>
    </dl>
  </div>
  <hr class="col-sm-10 mb-4" />
  <div class="col-sm-10">
    <h2 class="fs-5 mb-3">Skills</h2>
    <dl class="row">
      <dt class="col-9 fw-normal">Javascript</dt>
      <dd class="col-3 fw-bold">75%</dd>
      <dt class="col-9 fw-normal">HTML</dt>
      <dd class="col-3 fw-bold">80%</dd>
      <dt class="col-9 fw-normal">CSS</dt>
      <dd class="col-3 fw-bold">75%</dd>
    </dl>
  </div>
  <hr class="col-sm-10 mb-4" />
  <div class="col-sm-10 mb-4">
    <h2 class="fs-5 mb-3">Languages</h2>
    <p>
      <span class="badge bg-secondary fs-6 m-1">Indonesia</span>
      <span class="badge bg-secondary fs-6 m-1">English</span>
      <span class="badge bg-secondary fs-6 m-1">Arabic</span>
    </p>
  </div>
  <hr class="col-sm-10 mb-4" />
  <div class="col-sm-10 mb-4">
    <h2 class="fs-5 mb-3">Hobbies</h2>
    <p>
      <span class="badge rounded-pill bg-secondary fs-6 m-1">Driving</span>
      <span class="badge rounded-pill bg-secondary fs-6 m-1">Coding</span>
      <span class="badge rounded-pill bg-secondary fs-6 m-1">Traveling</span>
    </p>
  </div>
  <hr class="col-sm-10 mb-4" />
  <div class="col-sm-10 mb-4">
    <h2 class="fs-5 mb-3">Social Media</h2>
    <dl class="row">
      <dt class="col-1"><i class="fab fa-github"></i></dt>
      <dd class="col-11">
        <a href="/contact" class="text-white text-decoration-none"
          >fahreza.dev</a
        >
      </dd>
      <dt class="col-1"><i class="fab fa-linkedin"></i></dt>
      <dd class="col-11">
        <a routerLink="/contact" class="text-white text-decoration-none">
          fahreza.muzakki
        </a>
      </dd>
      <dt class="col-1"><i class="fab fa-facebook"></i></dt>
      <dd class="col-11">
        <a href="#linkedin" class="text-white text-decoration-none">
          fb.me/fahreza.muzakki
        </a>
      </dd>
    </dl>
  </div>
</div>
