<h4>{{ pageTitle }}</h4>

<ul class="list-group">
  <li *ngFor="let todo of todos" class="list-group-item">
    <div class="form-check">
      <input
        (click)="handleCheckTodo($event, todo)"
        class="form-check-input mt-0"
        type="checkbox"
        id="{{ todo.id }}_checkbox"
        [value]="todo.id"
        [checked]="todo.isDone"
        aria-label="Checkbox for following text input"
      />
      <label for="{{ todo.id }}_checkbox" class="form-check-label">
        {{ todo.name }}
      </label>
    </div>
  </li>
</ul>
