<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">About example</h1>
      <p class="lead text-muted">
        Something short and leading about the collection below—its contents, the
        creator, etc. Make it short and sweet, but not too short so folks don’t
        simply skip over it entirely.
      </p>

      <div class="">
        <a href=""><i class="fab fa-github fa-2x px-2 text-dark"></i></a>
        <a href=""><i class="fab fa-linkedin fa-2x px-2"></i></a>
        <a href=""><i class="fab fa-twitter fa-2x px-2 text-info"></i></a>
        <a href=""><i class="fab fa-facebook fa-2x px-2"></i></a>
        <a href=""><i class="fab fa-youtube fa-2x px-2 text-danger"></i></a>
      </div>
    </div>
  </div>
</section>
