<div class="card shadow">
  <div class="card-body">
    <h5 class="card-title mb-3">Guest Book</h5>
    <div class="btn-group"></div>
    <button class="btn btn-outline-primary btn-sm mb-3">Initial Storage</button>
    <div class="table-responsive">
      <table class="table table-bordered border-primary">
        <thead>
          <tr>
            <th>BookingID</th>
            <th>Nama Pemesan</th>
            <th>Nomor Kamar</th>
            <th>Durasi Menginap</th>
            <th>Total Biaya</th>
            <th>Jumlah Tamu</th>
            <th>Status Pemesanan</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
