<ng-container *ngIf="message">
  <div class="alert {{ message.status ? 'alert-' + message.status : '' }}">
    {{ message.text }}
  </div>
</ng-container>
<div class="card shadow">
  <div class="card-body">
    <h5 class="card-title">Todo List</h5>
    <ng-container *ngIf="todos.length > 0; else emptyTodos">
      <ul class="list-group">
        <li *ngFor="let todo of todos" class="list-group-item">
          <div class="form-check">
            <input
              class="form-check-input mt-0"
              type="checkbox"
              id="{{ todo.id }}_checkbox"
              [value]="todo.id"
              [checked]="todo.isDone"
              (click)="onCheckTodo(todo)"
              aria-label="Checkbox for following text input"
            />
            <label for="{{ todo.id }}_checkbox" class="form-check-label">
              {{ todo.name }}
            </label>
            <button
              class="btn btn-link btn-sm float-end"
              (click)="onDeleteTodo(todo)"
            >
              <i class="fas fa fa-trash"></i>
            </button>
            <button
              class="btn btn-link btn-sm float-end"
              (click)="onSelectTodo(todo)"
            >
              <i class="fas fa fa-edit"></i>
            </button>
          </div>
        </li>
      </ul>
    </ng-container>
    <ng-template #emptyTodos>
      <p>Data kosong</p>
    </ng-template>
  </div>
</div>
